@import '../../styles/typography';
@import '../../styles/colors';

.selected{
	color : $selected-text;
	font-weight: bold;
}
 
span{
	color: $normal-text;
	&:hover{
		font-weight: bold;
	}
}
.filters-container{
	height:50px;
	width:100%;
	background-color: #f2f2f2;
}
.filter-container{
	height: calc( 100% - 11px);
	background-color: white;
	width:100px;
	margin: auto 5px;
	margin-top: 10px;
	float: left;
    padding: 10px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
