
<div class="filters-container shadow">
	<div *ngIf="c" class="filter-container link">
		<span class="{{c.class}}">
	  		{{cat.label}}
	  	</span>
	</div>
	<div *ngIf="c1" class="filter-container link">
		<span class="{{c1.class}}">
	  		{{c1['label']}}
	  	</span>
	</div>
	<div *ngIf="c2" class="filter-container link">
		<span class="{{c2.class}}">
	  		{{c2['label']}}
	  	</span>
	</div>
	<div *ngIf="c3" class="filter-container link">
		<span class="{{c3.class}}">
	  		{{c3['label']}}
	  	</span>
	</div>
	<div *ngIf="c4" class="filter-container link">
		<span class="{{c4.class}}">
	  		{{c4['label']}}
	  	</span>
	</div>
	<div *ngIf="c5" class="filter-container link">
		<span class="{{c5.class}}">
	  		{{c5['label']}}
	  	</span>
	</div>
</div>
