<div class="navbar-link topnav" id="myTopnav">
  <a class="tab-link left" href="#home">Home</a>
  <a class="tab-link left" href="#news">News</a>
  <a class="tab-link left" href="#contact">Contact</a>
  <a class="tab-link left">Docs</a>
  <a class="tab-link left">Docs</a>
  <a href="javascript:void(0);" class="icon" (click)="tooggleMenu()">&#9776;</a>
  <a class="tab-link right">Docs</a>
  <a class="tab-link right" href="#about">About</a>
</div>

<div (scroll)="onScroll($event)" class="compact-container">

  <div style="text-align:center" class="body-top shadow-volume">

    <h1 class="toptitle">
      Nice to see you..
    </h1>
    <img class="logo" width="300" src="/assets/parrot.png" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <app-index>
        </app-index>
      </div>
      <div class="col-sm-6">
        <div *ngFor="let mockPost of mockPosts; let i=index">
          <div *ngIf="i<2">
            <app-post 
              [post]="mockPost"
            >
            </app-post>
          </div>
        </div>
        <!--
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" ></agm-map>
          -->
      </div> 
    </div> 
  </div> 
</div> 
    <app-footer></app-footer>
