<div class="jumbotron">
  <div class="body-top shadow-volume">
    <div class="topnav" id="myTopnav">
      <a>
        <img class="logo"  src="/assets/logo.png" />
      </a>
      <!--
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a >Docs</a>
      <a>Docs</a>
      <a>Docs</a>
      <a href="#about">About</a>
      -->
      <a class="icon" (click)="tooggleMenu()">&#9776;</a>

    </div>
  </div>
</div>
<div class="container">
  <div>
    <div class="row">
      <div class="col-sm-3">
        <app-index
          [strct]="catIndex">
        </app-index>
      </div>
      <div class="col-sm-6">
        <div *ngFor="let mockPost of articles; let i=index">
          <div *ngIf="i<2">
            <app-post 
              [post]="mockPost"
            >
            </app-post>
          </div>
        </div>
      </div> 
      <div class="col-sm-3">
      </div> 
    </div> 
  </div>
  <app-footer>
  </app-footer>
</div>