.navbar-link{
  background-color: transparent;
  z-index: 1000;
}
.jumbotron{
  background-color: #fff;
  position: relative;
  margin:0;
  padding:0;
  height: 410px;
}
@media screen and (max-width: 600px) {
  .jumbotron{
    height: 50px;
  }
}
h1.toptitle{
  text-align: center;  
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  font-size: 40px;
}

.toptitle{
  display:none;
}
.logo{
  display:none;
  margin:auto;
}
.body-top{
  width: 100%;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  height: 100%;

  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;

  /* background: #9999ff;*/
  background: #70E63E;
  
  /*background: -webkit-linear-gradient(left top, #9999ff, #2cb5e8); // For Safari 5.1 to 6.0 
  background: -o-linear-gradient(bottom right, #9999ff, #2cb5e8); //For Opera 11.1 to 12.0 
  background: -moz-linear-gradient(bottom right, #9999ff, #2cb5e8); // For Firefox 3.6 to 15 
  background: linear-gradient(to bottom right, #9999ff, #2cb5e8); // Standard syntax      
  */
  background: -webkit-linear-gradient(left top, #ffffff, #8F19C1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ffffff, #8F19C1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ffffff, #8F19C1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ffffff, #8F19C1); /* Standard syntax */       

}
.transition-element{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.transition-element-out{
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.transition-element-show{
  -webkit-animation: fadeIn 4s;
  animation: fadeIn 4s; 
}
.transition-element-s{
  -webkit-animation: fadeInH 1s;
  animation: fadeInH 1s; 
}

@media screen and (min-width: 600px) {
  @-webkit-keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
    }
    .toptitle{
      display: block;
      margin:auto;
    }
    .logo{
      display: block;
      margin:auto;
  }
}

@media screen and (min-width: 600px) {
  @-webkit-keyframes fadeInH {
      from { height: 50px; }
        to { height: 410px; }
    }
    .body-top{
      height:410px;
    }
}


.shadow-volume{
  -webkit-box-shadow: 30px 31px 84px 0px rgba(156,148,156,1);
  -moz-box-shadow: 30px 31px 84px 0px rgba(156,148,156,1);
  box-shadow: 30px 31px 84px 0px rgba(156,148,156,1);  
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    /*position: relative;*/
  }
  .topnav.responsive :not(:first-child) {
    background-color:#333;
  }   
   .topnav.responsive a:hover{
    background-color:#f2f2f2;
    /*position: relative;*/
    }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Add a background color to the top navigation */
.topnav {
}

/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.fixed-top{
  padding:0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.right{
  float: right;
} 
.left{
  color:grey !important;
  font-weight: bold;
  float: left;
} 


.tab-link{
} 

.compact-container{
  background-color: #ffffff;    
  overflow-y:scroll; 
  overflow-x:hidden;
  height:100%;
} agm-map {
  height: 1300px;
}






@media screen and (max-width: 600px) {
  .container{
    padding:0;
    margin-top :0px !important;
    padding-top: 100px;
  }
}
/*.container{
  width:100%;
  margin-top:410px;
  padding-top:50px;
    
}*/


