<div class="post-container"  *ngIf="post">
	<app-nav-filter
		[cat]="post.category"
		[cat1]="post.subcategory1"
		[cat2]="post.subcategory2"
		[cat3]="post.subcategory3"
		[cat4]="post.subcategory4"
		[cat5]="post.subcategory5"
	>
	</app-nav-filter>
	<div class="post-header">
		<div class="post-title">
			<h1>
		  		{{post.title}}
			</h1>
		</div>
		<app-user-date-info
			[user]="post.userid"
			[date]="post.createdAt"
			>
		</app-user-date-info>
	</div>
	<div class="post-content-container">

		<span>
			{{post.info}}
		</span>
		<app-metadata-displayer
			[link]="post.metadata"
		>
		</app-metadata-displayer>
	</div>
</div>